.blured-bg.seen {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  animation: bg-fadein 200ms ease-in-out;
  z-index: 4;
}

.task-options-bar {
  width: 80%;
  height: 100vh;
  background: #f4f4f4;
  position: absolute;
  right: 0;
  top: 0;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  animation: bg-fadein 180ms ease-in-out;
  z-index: 5;
  overflow: hidden;
}

@keyframes bar-slidein {
  from {
    right: -300px;
  }
  to {
    right: 0;
  }
}

@keyframes bg-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button {
  display: flex;

  padding: 5px;
}

.main-buttons .button {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.icon {
  padding-right: 5px;
}

.description {
  display: flex;
}

.description.with-area {
  flex-shrink: 3;
}

.special-icon {
  margin-left: auto;
}

.editable-title {
  background-color: #fff;
  border: none;
  font-size: 20px;
  width: 100%;
  resize: none;
}

.main-buttons {
  background-color: white;
  padding: 35px 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.action-buttons {
  margin-top: 10px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  padding: 15px 5px;
}

.action-btn:hover {
  cursor: pointer;
}

.bottom-menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.bottom-menu:hover {
  cursor: pointer;
}

@media all and (min-width: 768px) {
  .blured-bg.seen {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    animation: bg-fadein 200ms ease-in-out;
  }

  .task-options-bar {
    width: 300px;
    height: calc(100vh - 20px);
    right: 10px;
    top: 10px;
    border-radius: 0;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    /* animation: bar-slidein 180ms ease-in-out; */
  }

  .main-buttons {
    background-color: white;
  }

  .button {
    display: flex;
    padding: 5px;
  }

  .align-center {
    align-items: center;
  }

  .icon {
    padding-right: 5px;
  }

  .description {
  }

  .special-icon {
    margin-left: auto;
  }
}
