* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.loading-box {
  margin: auto;
  align-self: center;
  display: inline;
}

@media all and (min-width: 768px) {
  .container {
    flex-direction: row;
    background-color: #f2f2f2;
  }
}
