.task-list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.task-list {
  overflow-y: auto;
  flex: 1;
  height: 0;
}

.input-box {
  display: flex;
  height: 50px;
  align-items: center;

  margin: 10px;
  background: #f2f2f2;
  border-radius: 35px;
  padding: 5px;

  flex: none;
}

.input-box .icon {
  padding: 10px;
  border-right: 1px solid #fff;
}

.input-box .icon svg {
  fill: #6587fd;
  cursor: pointer;
}

.input-box .icon svg:hover {
  fill: #516ccc;
}

.task-input-el {
  padding: 10px 5px;
  flex-grow: 1;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  border: none;
  margin: 0 10px;
}

.task-input-el:focus {
  outline: none;
}

.task-list-title {
  display: none;
}

@media all and (min-width: 768px) {
  .task-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;
    background-color: white;
    border-radius: 35px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.06), 0 0 20px rgba(0, 0, 0, 0.12);
  }

  .task-list-title {
    display: block;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.09);
    text-transform: capitalize;
    font-weight: 900;
  }
  
  .task-list {
    overflow-y: auto;
    flex: 1;
    height: 0;
  }
  
  .input-box {
    display: flex;
    height: 50px;
    align-items: center;
  
    margin: 10px;
    background: #f2f2f2;
    border-radius: 35px;
    padding: 5px;
  
    flex: none;
  }
  
  .input-box .icon {
    padding: 10px;
    border-right: 1px solid #fff;
  }
  
  .input-box .icon svg {
    fill: #6587fd;
    cursor: pointer;
  }
  
  .input-box .icon svg:hover {
    fill: #516ccc;
  }
  
  .task-input-el {
    border: 2px solid black;
    padding: 10px 5px;
    flex-grow: 1;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border: none;
    margin: 0 10px;
  }
  
  .task-input-el:focus {
    outline: none;
  }
}